* {
    bg0: #19120c;
    bg0-alpha: #19120ce6;
    bg1: #19120c;
    bg2: #312822;
    fg0: #efe0d5;
    fg1: #d5c3b6;
    accent-color: #feb877;
    accent-container: #6a3b03;
    accent-fg: #4b2800;
    urgent-color: #ffb4ab;
    border-color: #feb877;
}

