/**
 * Modern Glassmorphic Horizontal Power Menu Dialog
 * Material You dynamic tinting via colors.rasi
 * Material 3 / Android Large Icon Tiles
 **/

@import "colors.rasi"

* {
    background-color:           transparent;
    text-color:                 @fg0;
    margin:                     0px;
    padding:                    0px;
    spacing:                    0px;
}

window {
    transparency:               "real";
    location:                   center;
    anchor:                     center;
    fullscreen:                 false;
    width:                      640px;
    height:                     132px;
    x-offset:                   0px;
    y-offset:                   0px;

    enabled:                    true;
    border:                     2px;
    border-color:               @accent-color;
    border-radius:              32px;
    background-color:           @bg0-alpha;
    cursor:                     "default";
}

mainbox {
    enabled:                    true;
    spacing:                    0px;
    padding:                    18px;
    background-color:           transparent;
    children:                   [ "listview" ];
}

listview {
    enabled:                    true;
    columns:                    6;
    lines:                      1;
    cycle:                      true;
    dynamic:                    true;
    scrollbar:                  false;
    layout:                     vertical;
    reverse:                    false;
    fixed-height:               true;
    fixed-columns:              true;
    spacing:                    12px;
    background-color:           transparent;
    text-color:                 @fg0;
    cursor:                     "default";
}

element {
    enabled:                    true;
    padding:                    0px;
    border:                     0px;
    border-radius:              24px;
    background-color:           @bg2;
    text-color:                 @fg1;
    cursor:                     pointer;
}

element normal.normal, element alternate.normal {
    background-color:           @bg2;
    text-color:                 @fg1;
}

element selected.normal, element selected.active {
    background-color:           @accent-color;
    text-color:                 @accent-fg;
}

element-text {
    background-color:           transparent;
    text-color:                 inherit;
    highlight:                  inherit;
    cursor:                     inherit;
    vertical-align:             0.5;
    horizontal-align:           0.5;
    font:                       "JetBrainsMono Nerd Font 32";
}
