ACTION=="add|change", KERNEL=="event[0-9]*", ATTRS{name}=="keyd virtual keyboard", ENV{ID_INPUT_KEYBOARD_INTEGRATION}="internal", ENV{ID_INTEGRATION}="internal"
