[Desktop Entry]
Name=Cisco Packet Tracer 9.0.1 (PTSA)
Type=Application
Categories=Education;
Exec=/usr/lib/packettracer/packettracer.AppImage -uri=%u
Icon=Cisco_Packet_Tracer_9.0.1
Terminal=false
StartupNotify=true
MimeType=x-scheme-handler/pttp;
