[Desktop Entry]
Version=1.0
Type=Application
Name=Kando
Comment=The Cross-Platform Pie Menu
Categories=Utility;
Icon=menu.kando.Kando
Exec=kando %U
Terminal=false
StartupNotify=false
